.heading
{
    background-color:rgb(186, 173, 59);
    /*Change to the color you desire */
    color: rgb(80, 91, 170);
    height: 100px;
}

.whole_page{
    font-size: larger;
}
*
{
    margin: 0px;
}
body
{
    background-color: pink;
}