h1,h2,h4 {
    text-align: center;
    color: white;
  }
.box {
    border: 3px solid black;
    max-width: 900px;
    height: 300px;
    margin: auto;
    padding: 10px;
    text-align: center;
    background-color:beige;
}
  body {
    background-image: url(https://images.unsplash.com/photo-1533174072545-7a4b6ad7a6c3?auto=format&fit=crop&q=80&w=1000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fGxpdmUlMjBldmVudHxlbnwwfHwwfHx8MA%3D%3D);
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-size: large;
    }
    .add-event-button {
      text-align: center;
      margin: 10px;
  }
  
  .add-event-button a {
      display: inline-block;
      background-color: #007BFF; /* Change the background color as desired */
      color: white;
      padding: 10px 20px;
      border-radius: 5px;
      text-decoration: none;
      font-weight: bold;
  }
  
  .add-event-button a:hover {
      background-color: #0056b3; /* Change the background color on hover */
      color: white;
  }
/*.box {
    border: 3px solid black;
    max-width: 900px;
    height: 300px;
    margin: auto;
    padding: 10px;
    text-align: center;
    background-color:beige;
}*/