h2, h4 {
    text-align: center;
}
body {
    font-size: large;
}
.box {
    border: 3px solid black;
    max-width: 900px;
    height: 300px;
    margin: auto;
    padding: 10px;
    text-align: center;
}