<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/log_form.css">
    
    <title>LOGIN</title>
</head>
<body>
  <div class="logo"><h1>Event Registration System</h1></div>   
     <div class="heading"><br>
      <h2>REGISTRATION </h2>
     </div>
     
     <div class="whole_page">
      <h4>* denotes mandatory</h4><br>
      </div>
    <div class="division">
    <div class="blank1"></div>
    <div class="forms">
    <form action='{{ url_for("submit_form") }}' method="post">
        <label for="">Institution name*:</label><br>
        <input type="text"name="institution_name"required><br><br>
        <label for="">Full name*:</label><br>
        <input type="text"name="fullname"id="fullname"placeholder="FirstName  LastName" required><br><br>
        <label for="">Email address*:</label><br>
        <input type="email"name="emailaddress"required><br><br>
        
        <label for="">Phone number*:</label><br>
        <input type="text"name="phone_number"required><br><br>
        <label for="">Title name*:</label><br>
        <input type="text"name="title_name"required><br><br>
        <label for ="dropdown">Number of attendees*:</label><br>
        <select id="dropdown"name="Number"required>
         <option value="UPT0 1500">UPT0 1500</option>
         <option value="1500 TO 5000">1500 TO 5000</option>
         <option value="5000 TO 10000">5000 TO 10000</option>
         <option value="BEYOND 100000">BEYOND 100000</option>
        </select><br><br>
        <label for="">Starting date of the event*:</label><br>
        <input type="datetime-local"name="start_date"id="date"placeholder="mm/dd/yyyy" required><br><br>
        <label for="">Ending date of the event*:</label><br>
        <input type="datetime-local"name="end_date"id="date"placeholder="mm/dd/yyyy" required><br><br>
        <span id="date_error" style="color:red">{{error_msg}}</span> <br><br>
        <label >Do you need a photographer*:</label><br>
          <input type="radio"name="photo"id="Yes"value="Yes">
          <label for="Yes" >YES</label>
          <input type="radio"name="photo"id="No"value="No">
          <label for="No" >No</label><br><br>
        <label >Do you need food*:</label><br>
          <input type="radio"name="food"id="Yes"value="Yes">
          <label for="Yes" >YES</label>
          <input type="radio"name="food"id="No"value="No">
          <label for="No" >No</label><br><br>
        <label >Terms and conditions*:</label><br>
          <input type="radio"name="terms"id="agree"value="agree" required>
          <label for="agree" >I agree</label>
          <input type="radio"name="terms"id="disagree"value="disagree">
          <label for="disagree" >I disagree</label><br><br>
        <input type="submit" name= "submit" value= "Submit"><br>
    </form>
</div>
<div class="blank2"></div>
</div>

</body>
</html>