<!DOCTYPE html>
<html lang="en">
<head>
    <title>Success</title>
    <link rel="stylesheet" href="../static/reg_success.css">
</head>
<body>
    
    <div class="logo"><h1>Event Registration System</h1></div>
    <h2>Confirm Registration!</h2><br>
    <div class="box">
        <form>
            <label><strong>Event name : {{ename}}</strong></label><br>
            <label>Organizer name : {{name}}</label><br>
            <label>Institution: {{inst_name}}</label><br>
            <label>Contact no : {{phone}}</label><br>
            <label>Email: {{email}}</label><br>
            <label>Expected participants: {{count}}</label><br>
            <label>Photographer: {{photo_choice}}</label><br>
            <label>Food: {{food_choice}}</label><br>
            <label>Start date : {{start}}</label><br>
            <label>End date : {{end}}</label><br><br>
            
            <div class="add-event-button">
                <a href="{{url_for('show_events')}}">Confirm</a>
            </div>
        </form>
    </div>
</body>
</html>