<!DOCTYPE html>
<html lang="en">
<head>
    <title>Success</title>
</head>
<body>
    <h2>Registration Successful!</h2> <br>
    <h5>Thank you for registering.</h5> <br>
    <div>
        <form>
            <label>Event name : </label>
            <label>Organizer name : </label>
            <br>
            <label>Start date : </label>
            <label>End date : </label>
            <br>
            <input type="button" value="Share registration link">
        </form>
    </div>
</body>
</html>