<!DOCTYPE html>
<html lang="en">
<head>
    <title>Success</title>
    <link rel="stylesheet" href="../static/reg_success.css">
</head>
<body>
    <h2>Registration Successful!</h2>
    <h4>Thank you for registering.</h4> <br>
    <div class="box">
        <form>
            <label>Event name : </label><br>
            <label>Organizer name : </label><br>
            <label>Start date : </label><br><br>
            <label>End date : </label><br>
            

            <label>Event name :{{details[0]}} </label>
            <label>email :{{details[1]}} </label>
            <br>
            <label>date :{{details[3]}} </label>
            
            <br>
            <input type="button" value="Share registration link">
        </form>
    </div>
</body>
</html>